spring:
  datasource:
    url: jdbc:h2:mem:testdb
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true


    #체이블 생성후 data sql 실행
    defer-datasource-initialization: true

  h2:
    console:
      enabled: true

